body {
    background-image: url(/beforeblack.github.io/images/bckg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.rfrsh {
    width: 50px;
    height: auto;
    float: left;
}

.mainbody {
    text-align: center;
    border-style: solid;
    width: 75%;
    margin-left: 12.5%;
    background-color: rgba(255, 255, 255, 0.4);
}

.mainbody p{
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.mainbody input {
    background: white;
    opacity: 0.6;
    height: 50px;
    width: 200px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size: 25px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    margin-bottom: 2%;
}

.mainbody button {
    height: 50px;
    width: auto;
    background: white;
    opacity: 0.6;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size: 25px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    margin-bottom: 2%;
    
}

.mainbody button:hover {
    background: gray;
    opacity: 0.7;
    cursor: pointer;
}

#numb {
    padding-left: 15px;
}