html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    background: url(Images/pexels-photo-132852.jpeg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

body {
    display: table-cell;
    vertical-align: middle;
    
}

.main {
    width: 1000px;
    height: 720px;
}

.navbarvbanner {
    border-bottom-style: double;
    border-bottom-color: dimgrey;
}

/* NAVBAR STARTS FROM HERE */

input[type=text] {
    width: 130px;
    font-size: 14px;
    padding: 10px 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-bottom-style: solid;
    
}

input[type=text]:focus {
    border-color: blue;
}

.navbar {
    width: 100%;
    height: 5%;
    font-family: 'Cinzel', serif;
   
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    border-color: darkblue;
    -webkit-transition:1000ms ease;
    -moz-transition:1000ms ease;
    -o-transition:1000ms ease;
    transition:1000ms ease;
    float: left;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9.5px 62.8906px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #000;
    padding-top: 1px;
    visibility:visible;
    opacity:1;
    filter:alpha(opacity=100);
}

/*BANNER STARTS FROM HERE */

.banner {
    width: 100%;
    height: 20%;
    background-color: black;
}

.banner img {
    width: 25%;
}

.banner h1 {
    float: right;
    font-family: 'Abril Fatface', cursive;
    font-weight: 200;
    text-shadow: 10px -4px 8px rgba(51, 173, 255, 0.4);
}

.banner h3 {
    float: right;
    display: inline-block;
    margin-top: -50px;
    font-family: 'Didact Gothic', sans-serif;
}
.banner h1,h3{
    color: aliceblue;
    text-align: center;
    width: 75%;
    
}

/*MENU STARTS FROM HERE*/

.menu {
    width: 25%;
    height: 85%;
    background-color: rgb(0, 0, 0);
    float: left;
    
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #000;
    
}

.menu li a {
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
    height: 40px;
    padding-top: 5%;
    color: antiquewhite;
    font-family: 'Playfair Display SC', serif;
    border-bottom: solid 1px white;
    
}

/* Change the link color on hover */
.menu li a:hover {
    background-color: #000;
    color: white;
    padding-right: 4px;
}

/*CONTAINER STARTS FROM HERE*/

.container {
    width: 100%;
    height: 85%;
    background-color: rgba(255, 255, 255, 0.7);
    
}

.container .posts h3
{
    width: 100%;
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
    color: black;
    text-shadow: 0px 2px 2px rgba(102, 140, 255, 0.5);
    height: 25px;
}

.container .posts {
    margin-top: 0%;
    text-align: center;
    width: 75%;
    height: 100%;
    float: left;
}

.container .posts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 75%;
    padding-left: 12.5%;
    background-color: transparent;
    
}

.container .posts li a {
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
    height: 110px;
    margin-top: 15px;
    border: solid 1px black;
    border-radius: 5px;
    
    
}

.container .posts li h4 {
    margin: 0;
    padding-top: 5px;
}

.container .posts img {
    width: 40%;
    float: left;
}

/* Change the link color on hover */
.container .posts li a:hover {
    background-color: rgba (125, 125, 125, 0.5);
    color: dimgrey;
    padding-right: 4px;
}




/*FOOTER STARTS HERE*/
.footer {
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 2px;
    width: 100%;
    height: 5%;
    background-color: gray;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    font-weight: 100;
}