
ul {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
}

li {
    float: left;
    margin-left: 12%;
    align-items: center;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 130px;
}

li a:hover {
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
   box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.jumbotron {
    text-align: center;
    background-image: url(../Photos/pexels-photo-235994.jpeg);
    height: 250px;
    margin-top: -10px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    border-top: solid 4px gray;
}

.jumbotron h1 {
    margin-top: -50px;
    padding: 90px;
    height: 250px;
}

.jumbotron a {
    color: #000;
    text-decoration: none;
}

.jumbotron a:hover {
    text-decoration: none;
    color: black;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  
}

.col-sm-5 {
  margin: 0 45px 20px ;
}

.col-sm-5 p, h2 {
    text-align: center;
}

.but {
    padding-left: 95px;
}

.but a{
    margin: 5%;
    background-color: gray;
    border-style: hidden;
}

.col-sm-5 p {
  border-bottom: solid;
  border-radius: 10%;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5)
}

footer{
    background-color: lightgray;
    text-align: center;
    color: dimgray;
    height: 50px;
}

footer p{
   margin-top: 1.5%;
}
